/* index.html */

@media (min-width: 1025px) {
  .hero-section {
    padding: 0 10%;
  }
}


/* login.html  page  */

/* DESKTOP ≥ 1200px */

@media (min-width: 1200px) {
  .login-form {
    height: 80vh;
  }

  .left-box h1.site-title {
    font-size: 4.5rem;
  }

  .left-box .tagline {
    font-size: 1.5rem;
  }

  .right-box {
    padding: 3rem;
  }

  .login-container {
    max-width: 400px;
  }
}


/*  Admin Dashboard Responsiveness */
.sidebar-toggle {
  display: none;
}

@media (max-width: 1024px) {
  .admin-sidebar {
    position: fixed;
    left: -180px; 
    top: 60px; 
    width: 180px;
    height: calc(100% - 60px);
    background-color: #00509e;
    transition: left 0.3s ease;
    z-index: 999;
  }

  .admin-sidebar.active {
    left: 0;
  }
}
