/* =======================
   Index.html
   769px - 1024px
======================= */
@media (max-width: 1024px) and (min-width: 769px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .hero-section::after {
    display: none;
  }

  .site-title {
    font-size: 3rem;
  }

  .tagline {
    font-size: 1.3rem;
  }

  .buttons-container {
    gap: 0.5rem;
  }
}


/* login.html page  */

/* TABLET 768px – 1199px */

@media (min-width: 768px) and (max-width: 1199px) {
  .login-form {
    flex-direction: column;
    height: auto;
    margin: 2rem auto;
  }

  .left-box {
    width: 100%;
    text-align: center;
    padding: 2rem;
  }

  .left-box h1.site-title {
    font-size: 3rem;
  }

  .left-box .tagline {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .right-box {
    width: 100%;
    padding: 2rem;
  }

  .login-container {
    max-width: 500px;
    margin: 0 auto;
  }
}
